In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#Import Plotly
import plotly.express as px
import plotly.graph_objs as go

#import sklearn
from sklearn import preprocessing

In [15]:
combine_df = pd.read_csv('resources/combine_df.csv',index_col=None)

combine_df = combine_df.loc[(combine_df['Name'] != 'Trindon Holliday')]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13229 entries, 0 to 13228
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             13229 non-null  int64
 1   Name             13229 non-null  object
 2   College          13224 non-null  object
 3   POS              13229 non-null  object
 4   Height (in)      13229 non-null  float64
 5   Weight (lbs)     13229 non-null  float64
 6   BMI              13229 non-null  float64
 7   40 Yard          11886 non-null  float64
 8   Bench Press      9821 non-null   float64
 9   Vert Leap (in)   11434 non-null  float64
 10  Broad Jump (in)  11327 non-null  float64
 11  Shuttle          10590 non-null  float64
 12  3Cone            7935 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 1.3+ MB

In [16]:
#Get the averages for all stats and make it presentable in a summarized DF.
combine_df_avg = pd.DataFrame(
    [{"Avg. Height (in)":combine_df['Height (in)'].mean(),
      "Avg. Weightfdfdffd (lbs)":combine_df['Weight (lbs)'].mean(),
      "Avg. BMI":combine_df['BMI'].mean(),
      "Avg. 40 Yard":combine_df['40 Yard'].mean(), 
      "Avg. Vert Leap (in)":combine_df['Vert Leap (in)'].mean(),
      "Avg. Broad Jump (in)":combine_df['Broad Jump (in)'].mean(),
      "Shuttle":combine_df['Shuttle'].mean(),
      "3Cone":combine_df['3Cone'].mean(),
      "Bench Press":combine_df['Bench Press'].mean(),
     }])


combine_df_avg

,Avg. Height (in),Avg. Weightfdfdffd (lbs),Avg. BMI,Avg. 40 Yard,Avg. Vert Leap (in),Avg. Broad Jump (in),Shuttle,3Cone,Bench Press
0,73.728939,240.084058,30.864228,4.816273,32.234546,113.100733,4.417585,7.311442,19.793809

In [17]:
# Get records for all combine data, 

combine_df_overall_best = pd.DataFrame(
    [{"Max Height (in)":combine_df['Height (in)'].max(),
      "Max Weight (lbs)":combine_df['Weight (lbs)'].max(),
      "Max BMI":combine_df["BMI"].max(),
      "Min 40 Yard":combine_df['40 Yard'].min(), 
      "Max Vert Leap (in)":combine_df['Vert Leap (in)'].max(),
      "Max Broad Jump (in)":combine_df['Broad Jump (in)'].max(),
      "Min Shuttle":combine_df['Shuttle'].min(),
      "Min 3Cone":combine_df['3Cone'].min(),
      "Max Bench Press":combine_df['Bench Press'].max(),
     }])

combine_df_overall_best

,Max Height (in),Max Weight (lbs),Max BMI,Min 40 Yard,Max Vert Leap (in),Max Broad Jump (in),Min Shuttle,Min 3Cone,Max Bench Press
0,82.4,387.0,47.745032,4.21,46.5,147.0,3.73,6.27,74.0